Django==4.2.7
djangorestframework==3.14.0
psycopg2-binary==2.9.9
python-decouple==3.8
requests==2.31.0
gunicorn==21.2.0
whitenoise==6.6.0
selenium==4.15.2
bs4~=0.0.1
Pillow==10.1.0
cloudscraper==1.2.71
